.todo-list
    text-align: center
    margin-right: 2%
    margin-left: 2%
    margin-top: 2%
    margin-bottom: 2%
    border-radius: $box-border
    border: 2px solid $header-background
    input
        outline: none
        border: 0px solid white
        text-align: center
    .adder 
        padding-left: 85%
        display: inline-block
        img
            padding-top:0
            
            position: absolute
  

